GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=https://motherboter.pages.dev/auth/github/callback
SESSION_SECRET=
CLOUDFLARE_CLIENT_ID=
CLOUDFLARE_CLIENT_SECRET=
CLOUDFLARE_REDIRECT_URI=https://motherboter.pages.dev/auth/cloudflare/callback
